<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include "header.html" %}
    <main>
        <section class="options">
            <br>
            <h1>Your order is Successfully placed...</h1><br>
            <img src="https://img.icons8.com/color/240/null/checked--v1.png"/>
        </section>
    </main>
</body>
</html>