<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include "header.html" %}
    <main>
        <section class="table">
            <h1>Wishlist</h1><br>
            {% if items==[] %}
                <h2>Nothing here...</h2>
            {% else %}
                <table>
                    <tr>
                        <th>SNO</th>
                        <th>IMAGE</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>ACTION</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><img src="/static/img/products/{{ item[3] }}" height="110" width="110" alt="{{ item[1] }}"></td>
                        <td><a href="/product/{{ item[1] }}">{{ item[1] }}</a></td>
                        <td>₹{{ item[4] }}</td>
                        <td><a href="/wishlist/remove_/{{ item[1] }}"><button class="btn">REMOVE</button></a></td>
                    </tr>
                    {% endfor %}
                </table><br><br>
            {% endif %}
        </section>
    </main>
</body>
</html>